#root {
  width: 100%;
  max-width: inherit;
  margin: 0 auto;
  text-align: center;
  color-scheme: light;
}

.createTaskContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.title {
  color: #e74c3c;
  text-align: center;
  font-size: 2rem;
}

.editInputField,
.inputField {
  background: #fff;
  color: black;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  width: 50%;
}

.inputField {
  width: 100%;
}

.inputField:focus {
  border: 2px solid #e74c3c;
}

.addButton {
  background: #e67e22;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: all ease-in-out 0.5s;
}

.addButton:hover {
  background-color: #d35400;
  transform: scale(1.1);
}

.addButton:active {
  background: #ffecd1;
  transform: scale(0.95);
  color: #e74c3c;
  font-size: 15px;
  font-weight: 600;
}

.iconsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.viewTasksContainer {
  background-color: #ffecd1;
  border-radius: 10px;
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.viewTaskItem {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  transition: all ease-in-out 0.7s;
}
.viewTaskItem:hover {
  transform: scale(1.2);
}

.checkbox {
  margin-right: 15px;
  accent-color: #27ae60;
  background: #fff;
  color: #fff;
  transition: all ease-in-out 0.5s;
}

.checkbox:hover {
  transform: scale(2.4);
}
.checkbox:checked {
  accent-color: #27ae60;
  transform: scale(2.4);
}

.taskBtnPosition {
  position: absolute;
  right: 10px;
  display: flex;
  gap: 20px;
}

.taskButtons {
  background-color: #e67e22;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.taskButtons:hover {
  background-color: #d3540081;
  transform: scale(1.2);
}

.taskButtons:active,
.addTaskButton:active {
  background: #ffecd1;
  transform: scale(0.95);
  color: #e74c3c;
  font-size: 15px;
  font-weight: 600;
}

.taskButtons:disabled {
  transform: scale(1);

  background-color: gray;
  cursor: not-allowed;
}

.taskButtons:disabled:hover {
  transform: scale(1);
  cursor: not-allowed;
}

.taskButtons:disabled:active {
  background: gray;
  transform: scale(1);
  color: gray;
}
